---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,maximum-scale=2">
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/home.css?v=' | append: site.github.build_revision | relative_url }}">
        <title>T2M Training</title>
        <script src="https://kit.fontawesome.com/3ba72403cc.js"></script>
    </head>
    
        <body>
            <!-- HEADER -->
            {% include navigation.html %}
    
    
            <!-- MAIN CONTENT -->
            <div id="main_content_wrap" class="outer">
                    <div class="row">

                        <button class="button" onclick="window.location='docs/cloud.html';"><i class="fas fa-cloud"></i><br><div class="text">CloudWorks</div></button>
                        <button class="button" onclick="window.location='docs/skype.html';"><i class="fab fa-skype"></i><br><div class="text">Skype Basics</div></button>
                        <button class="button" onclick="window.location='docs/skype_broadcast.html';"><i class="fas fa-satellite-dish"></i><br><div class="text">Skype Broadcast</div></button>
                        <button class="button" onclick="window.location='docs/clarity.html';"><i class="fas fa-headset"></i><br><div class="text">Clarity Connect</div></button>
                        <button class="button" onclick="window.location='docs/products.html';"><i class="fas fa-laptop"></i><br><div class="text">Compatible Products</div></button>
                        
                   

                        <button class="button" onclick="window.location='docs/users.html';"><i class="far fa-address-book"></i><br><div class="text">User Management</div></button>
                        <button class="button" onclick="window.location='docs/reports.html';"><i class="fas fa-chart-line"></i><br><div class="text">Run Reports</div></button>
                        <button class="button" onclick="window.location='docs/phones.html';"><i class="fas fa-phone"></i><br><div class="text">Phone Basics</div></button> 
                        <button class="button" onclick="window.location='docs/setup.html';"><i class="fas fa-tools"></i><br><div class="text">Device Setup</div></button>
                        <button class="button" onclick="window.location='docs/resources.html';"><i class="far fa-question-circle"></i><div class="text">Other Resources</div></button>
                    </div>
            </div>
    
            <!-- FOOTER  -->
            <footer>
            {% include footer.html %}
            </footer>

            {% if site.google_analytics %}
                <script>
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                    ga('create', '{{ site.google_analytics }}', 'auto');
                    ga('send', 'pageview');
                </script>
            {% endif %}
        </body>
        
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </html>
</html>

