---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,maximum-scale=2">
        <!-- Adding local Bootstrap -->
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
        <!-- Adding local FontAwesome -->
        <link href="/assets/fontawesome/css/all.css" rel="stylesheet">
        <!--Adding local jQuery and Javascript-->
        <script src="/assets/js/jquery-3.4.1.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.bundle.js"></script>
        
        <!-- Adding Custom CSS -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/index.css?v=' | append: site.github.build_revision | relative_url }}">
        <title>T2M Works Training</title>   
    </head>
    
        <body>
            <!-- HEADER -->
            {% include navigation.html %}
    
    
            <!-- MAIN CONTENT -->
            <div id="main_content_wrap" class="outer regular">
                <h1>Popular Links</h1>
                <div class="container">
                    <div class="row">

                        <div class="card bg-light mb-3">
                            <div class="card-header lgHeader">
                                <i class="fas fa-cloud big"></i><br>T2M Works
                            </div><!-- Closing Card Header  -->
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="docs/whats_new.html">What's New</a></li>
                                <li class="list-group-item"><a href="docs/cloud.html">T2M Works Introduction</a></li>
                                <li class="list-group-item"><a href="docs/settings.html">Portal Settings</a></li>
                                <li class="list-group-item"><a href="docs/support.html">Contact Support</a></li>
                                <li class="list-group-item"><a href="docs/products.html">Approved Endpoints</a></li>
                                <li class="list-group-item"><a href="docs/resources.html">Helpful Links</a></li>
                                <li class="list-group-item"><a href="docs/authorized_use.html">Authorized Use Policy</a></li>
                                <li class="list-group-item"><a href="docs/cookies.html">Cookies and Privacy Policy</a></li>
                            </ul>
                        </div><!-- Closing Card  -->
                        
                        <div class="card bg-light mb-3">
                            <div class="card-header">
                                <i class="fab fa-skype"></i><br>Voice+
                            </div><!-- Closing Card Header  -->
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="docs/users.html">Manage Users</a></li>
                                <li class="list-group-item"><a href="docs/commonarea.html">Common Area Phones</a></li>
                                <li class="list-group-item"><a href="docs/meetingroom.html">Manage Meeting Rooms</a></li>
                                <li class="list-group-item"><a href="docs/callgroups.html">Manage Call Groups</a></li>
                                <li class="list-group-item"><a href="docs/skype.html">Skype Client Basics</a></li>
                                <li class="list-group-item"><a href="docs/skype_broadcast.html">Skype Broadcast</a></li>
                                <li class="list-group-item"><a href="docs/phones.html">Phone Basics</a></li>
                                <li class="list-group-item"><a href="docs/setup.html">Phone Setup</a></li>
                            </ul>
                        </div><!-- Closing Card  -->

                        <div class="card bg-light mb-3">
                            <div class="card-header">
                                <i class="fas fa-shapes"></i><br>T2M Apps & Services
                            </div><!-- Closing Card Header  -->
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="docs/voicemail.html">AVST Voicemail</a></li>
                                <li class="list-group-item"><a href="docs/clarity.html">Clarity Connect</a></li>
                                <li class="list-group-item"><a href="docs/phonebook.html">Phonebook</a></li>
                                <li class="list-group-item"><a href="docs/provisioning.html">Phone Provisioning</a></li>
                            </ul>
                        </div><!-- Closing Card  -->

                        <div class="card bg-light mb-3">
                            <div class="card-header">
                                <i class="fas fa-chart-line"></i><br>Reports
                            </div><!-- Closing Card Header  -->
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="docs/report_summary.html">Summary Report</a></li>
                                <li class="list-group-item"><a href="docs/reports.html#call-details">Call Details</a></li>
                                <li class="list-group-item"><a href="docs/reports.html#call-quality-report">Call Quality</a></li>
                                <li class="list-group-item"><a href="docs/reports.html#ip-device-report">IP Devices</a></li>
                            </ul>
                        </div><!-- Closing Card  -->

                    </div><!-- Closing Row  -->
                    <div class="row">

                        <div class="card bg-light mb-3" style="display: none;">
                            <div class="card-header">
                                <i class="fas fa-globe"></i><br>Netsapiens
                            </div><!-- Closing Card Header  -->
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="#">Item 1</a></li>
                                <li class="list-group-item"><a href="#">Item 2</a></li>
                                <li class="list-group-item"><a href="#">Item 3</a></li>
                            </ul>
                        </div><!-- Closing Card  -->

                        <div class="card bg-light mb-3" style="display: none;">
                            <div class="card-header lgHeader">
                                <i class="fas fa-project-diagram big"></i><br>SD-WAN
                            </div><!-- Closing Card Header  -->
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="#">Item 1</a></li>
                                <li class="list-group-item"><a href="#">Item 2</a></li>
                                <li class="list-group-item"><a href="#">Item 3</a></li>
                            </ul>
                        </div><!-- Closing Card  -->

                        

                    </div><!-- Closing Row  -->                    
                </div><!-- Closing Container  -->
            </div><!-- Closing Main Content Wrapper  -->

            <!-- MOBILE VIEW -->
            <div id="main_toggle">
                <div id="main_content_wrap" class="outer mobile">
                    <div class="row">
                        <button class="button openCloud" onclick="openCloud()"><i class="fas fa-cloud big"></i><br><div class="text">T2M Works</div></button>
                        <button class="button openSkype" onclick="openSkype()"><i class="fab fa-skype"></i><br><div class="text">Skype</div></button>
                        <button class="button" onclick="window.location='docs/reports.html';"><i class="fas fa-chart-line"></i><br><div class="text">Run Reports</div></button>
                    </div><!-- Closing Row  --> 
                    <div class="row">
                        <button class="button" onclick="window.location='#';" style="display: none;"><i class="fas fa-globe"></i><br><div class="text">Netsapiens</div></button>
                        <button class="button" onclick="window.location='#';" style="display: none;"><i class="fas fa-project-diagram big"></i><br><div class="text">SD-WAN</div></button>
                        <button class="button" onclick="openOther()"><i class="far fa-question-circle"></i><div class="text">Other Resources</div></button>
                    </div><!-- Closing Row  --> 
                </div><!-- Closing Main Content Wrapper  -->
            </div><!--Closing main_toggle-->

            <!--MOBILE MENU-->
            <!--CLOUDWORKS-->
            <div id="cloudSidebar" class="toggle_nav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeCloud()"><i class="fas fa-chevron-left"></i></a>
                <div class="menu_links">
                    <a href="/docs/cloud.html">T2M Works Introduction</a>
                    <a href="#">Product Description</a>
                    <a href="#">Something else here</a>
                </div><!--Closing Cloud Menu Links-->
            </div><!--Closing cloudSidebar-->

                  <script>
                    function openCloud() {
                      document.getElementById("cloudSidebar").style.width = "250px";
                      document.getElementById("main").style.marginLeft = "250px";
                    }
                    
                    function closeCloud() {
                      document.getElementById("cloudSidebar").style.width = "0";
                      document.getElementById("main").style.marginLeft= "0";
                    }
                  </script>

            <!--SKYPE-->
            <div id="skypeSidebar" class="toggle_nav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeSkype()"><i class="fas fa-chevron-left"></i></a>
                <div class="menu_links">
                    <a href="/docs/skype.html">Skype Basics</a>
                    <a href="/docs/skype_broadcast.html">Skype Broadcast</a>
                    <a href="/docs/clarity.html">Clarity Connect</a>
                    <a href="/docs/products.html">Compatible Products</a>
                    <a href="/docs/users.html">User Management</a>
                    <a href="/docs/device_management.html">Device Management</a>
                    <a href="/docs/phones.html">Phone Basics</a>
                    <a href="/docs/setup.html">Phone Setup</a>
                </div><!--Closing Menu Links-->
            </div><!--Closing skypeSidebar-->
                    
                      <script>
                        function openSkype() {
                          document.getElementById("skypeSidebar").style.width = "250px";
                          document.getElementById("main").style.marginLeft = "250px";
                        }
                        
                        function closeSkype() {
                          document.getElementById("skypeSidebar").style.width = "0";
                          document.getElementById("main").style.marginLeft= "0";
                        }
                      </script>

            <!--OTHER RESOURCES-->
            <div id="otherSidebar" class="toggle_nav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeOther()"><i class="fas fa-chevron-left"></i></a>
                <div class="menu_links">
                    <a href="docs/resources.html">Helpful Links</a>
                    <a href="docs/authorized_use.html">Authorized Use Policy</a>
                    <a href="docs/cookies.html">Cookies and Privacy Policy</a>
                </div><!--Closing Menu Links-->
            </div><!--Closing otherSidebar-->
                    
                      <script>
                        function openOther() {
                          document.getElementById("otherSidebar").style.width = "250px";
                          document.getElementById("main").style.marginLeft = "250px";
                        }
                        
                        function closeOther() {
                          document.getElementById("otherSidebar").style.width = "0";
                          document.getElementById("main").style.marginLeft= "0";
                        }
                      </script>
    
            <!-- FOOTER  -->
            <footer>
                {% include footer.html %}
            </footer>

            {% if site.google_analytics %}
                <script>
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                    ga('create', '{{ site.google_analytics }}', 'auto');
                    ga('send', 'pageview');
                </script>
            {% endif %}

        </body>
    </html>
</html>

