---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,maximum-scale=2">
        <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/home.css?v=' | append: site.github.build_revision | relative_url }}">
        <title>T2M Training</title>
        <script src="https://kit.fontawesome.com/3ba72403cc.js"></script>
    </head>
    
        <body>
            <!-- HEADER -->
            {% include navigation.html %}

            <div id="header_wrap" class="outer">
                <header class="inner">
                    <h1 id="project_title">T2M Cloud Training</h1>
                </header>
            </div>
    
    
            <!-- MAIN CONTENT -->
            <div id="main_content_wrap" class="outer">
                    <div class="row">
                            <a href="docs/cloud/index.html" class="button"><i class="fas fa-cloud"></i><div class="text">CloudWorks</div></a>
                            <a href="docs/skype/index.html" class="button"><i class="fab fa-skype"></i><div class="text">Skype Basics</div><a>
                            <a href="docs/products/index.html" class="button"><i class="fas fa-laptop"></i><div class="text">Compatible Products</div></a>
                        <!--Buttons
                        <button class="button"><i class="fas fa-cloud"></i><br><div class="text">CloudWorks</div></button>
                        <button class="button"><i class="fab fa-skype"></i><br><div class="text">Skype Basics</div></button>
                        <button class="button"><i class="fas fa-laptop"></i><br><div class="text">Compatible Products</div></button>
                        -->
                    </div>
                    <div class="row">
                            <a href="docs/users/index.html" class="button"><i class="far fa-address-book"></i><div class="text">User Management</div></a>
                            <a href="docs/reports/index.html" class="button"><i class="fas fa-chart-line"></i><div class="text">Run Reports</div></a>
                            <a href="docs/phones/index.html" class="button"><i class="fas fa-phone"></i><div class="text">Phone Setup</div></a> 
                        <!--Buttons
                        <button class="button"><i class="far fa-address-book"></i><br><div class="text">User Management</div></button>
                        <button class="button"><i class="fas fa-chart-line"></i><br><div class="text">Run Reports</div></button>
                        <button class="button"><i class="fas fa-phone"></i><br><div class="text">Phone Setup</div></button> 
                        -->
                    </div>
            </div>
    
            <!-- FOOTER  -->
            {% include footer.html %}
    
            {% if site.google_analytics %}
                <script>
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                    ga('create', '{{ site.google_analytics }}', 'auto');
                    ga('send', 'pageview');
                </script>
            {% endif %}
        </body>
    </html>
</html>

