<div class="about row">

    <div class="col-md-8">

        <h2>About me</h2>

        <p>
            MasteringLync is the home of the SkypeValidator Website, The Validator Teams App and general information and community blog.
        </p>
        <p>
            SkypeValidator can be found at https://skypevalidator.com and was created for the planning, documenting and validation of your Skype and Lync deployments.
        </p>
        <p>  
            The Validator Teams App is a soon to be released (we hope) application that brings the power of the SkypeValidator SDK to Microsoft Teams.
        </p>
        <p> 
            The blog is dedicated to Skype for Business 2019/2015 , Microsoft Lync Server 2013/2010 and occasionally Exchange 2013/2010.  Our goal is to try to cover everything from the basics to deep dive into the guts of Lync.  All content is written by Microsoft Certified Masters and since we know we aren’t the only blog on the planet, we will make sure to link to all of our MCM friends.
        </p>
        <p> 
            All apps and blog are maintained by Richard Brynteson, Teams/Skype/Lync MVP, Microsoft Certified Solutions Master: Lync Server 2013, Microsoft Certified Master: Lync Server 2010 and Senior Systems Architect at Time2Market.
        </p>

        <h2>Contact</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>
    </div>

    <div class="col-md-4">
        {% include sidebar-post-tag.html %}
    </div>

</div>