<div class="container">
    <div class="float-right">
        <a href="https://training.t2mhosted.com/" target="_blank"><span class="text-muted">Training</span></a>
        <span>&nbsp;<span id="SwitcherSep" style="display: none;">|</span>&nbsp;</span>
        <a href="#" data-toggle="modal" data-target="#exampleModalCenter" id="TenantSwitcher" style="display: none;"><span class="text-muted">Switch Tenants</span></a> <span class="text-muted" id="SpanManagedName" style="display: none;"></span>
        <span>&nbsp;|&nbsp;</span>
        <a href="javascript:LogOutServices();" id="LogOff"><span class="text-muted">Log Out</span></a>
    </div>
    <div class="float-left"><span class="text-muted" id="PortalVersion">05.28.2019 BETA1</span></div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Select Tenant</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <label style="font-weight: bold;">Available Customers</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="ddlTenantSwitcher" style="width: 100px;">Customer</label>
                </div>
                <select class="custom-select" id="ddlTenantSwitcher">
                    <option value="">Select</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
    $("#SpanManagedName").html("(" + Cookies.get("ManagedName") + ")");
    let SuperAdmin = false;
    $(function() {
        $.ajax({
            type: "GET",
            url: "https://api.t2mhosted.com/Customers/" + Cookies.get("GUID") + "/" + Cookies.get("CustomerID"),
            contentType: "application/json;charset=utf-8",
            processData: true,
            success: function(data) {
                //Load Table
                $.each(data, function(i, obj) {
                    $("#ddlTenantSwitcher").append($('<option>').text(obj.CustomerName).attr('value', obj.CustomerID));
                });
                //Select Active Customer
                var managedCustomer = Cookies.get("ManagedID");
                $("#ddlTenantSwitcher").val(managedCustomer);
            },
            error: function(xhr) {
                alert(xhr.responseText);
            }
        });
    });
    $(document.body).on('change', '#ddlTenantSwitcher', function () {
        if (this.value !== "") {
            if (SuperAdmin === true)
            {
                var thisText = $(this).find("option:selected").text();
                Cookies.set("ManagedName", thisText, { secure: true });
                Cookies.set("ManagedID", this.value, { secure: true });
                location.reload();
            }
        }
    });
    $(document).ready(function () {
        var PolicyUpdate = {
            "CustomerID": Cookies.get("CustomerID"),
            "UserID": Cookies.get("UserID"),
            "GUID": Cookies.get("GUID"),
            "Fingerprint": "",
            "UpdateType": "",
            "ID": "",
            "Name": "",
            "Value": "",
            "SecValue": "",
            "TerValue": ""
        };
        $.ajax({
            type: "POST",
            url: "https://api.t2mhosted.com/SecurityPermission",
            data: JSON.stringify(PolicyUpdate),
            contentType: "application/json;charset=utf-8",
            processData: true,
            success: function (data, status, xhr) {
                if (data.ValidSession === false) {
                    LogOutServices();
                }
                //Set Variables
                SuperAdmin = data.SuperAdmin;
                //Show Items
                if (SuperAdmin === true)
                {
                    $("#TenantSwitcher").show();
                    $("#SpanManagedName").show();
                    $("#SwitcherSep").show();
                }
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });
    function LogOutServices() {
        //Remove All Cookies
        Cookies.remove("UserName");
        Cookies.remove("UserID");
        Cookies.remove("GUID");
        Cookies.remove("CustomerID");
        Cookies.remove("ManagedID");
        Cookies.remove("ManagedName");
        //Redirect To Home
        $(location).attr("href", "/index.html");
    }
</script>