<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <span class="navbar-brand">T2M Works Training</span>

        <div class="dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            T2M Works
          </a>
                  
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/docs/whats_new.html">What's New</a>
            <a class="dropdown-item" href="/docs/cloud.html">T2M Works Introduction</a>
            <a class="dropdown-item" href="/docs/settings.html">Portal Settings</a>
            <a class="dropdown-item" href="/docs/support.html">Contact Support</a>
            <a class="dropdown-item" href="/docs/products.html">Approved Endpoints</a>
            <a class="dropdown-item" href="/docs/resources.html">Helpful Links</a>
            <a class="dropdown-item" href="/docs/authorized_use.html">Authorized Use Policy</a>
            <a class="dropdown-item" href="/docs/cookies.html">Cookies and Privacy Policy</a>
          </div><!--Closing Dropdown-Menu-->
        </div><!--Closing dropdown-->

        <div class="dropdown">
            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Voice+
            </a>
                    
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/docs/users.html">Manage Users</a>
              <a class="dropdown-item" href="/docs/commonarea.html">Common Area Phones</a>
              <a class="dropdown-item" href="/docs/meetingroom.html">Manage Meeting Rooms</a>
              <a class="dropdown-item" href="/docs/callgroups.html">Manage Call Groups</a>
              <a class="dropdown-item" href="/docs/skype.html">Skype Client Basics</a>
              <a class="dropdown-item" href="/docs/skype_broadcast.html">Skype Broadcast</a>
              <a class="dropdown-item" href="/docs/phones.html">Phone Basics</a>
              <a class="dropdown-item" href="/docs/setup.html">Phone Setup</a>
            </div><!--Closing Dropdown-Menu-->
        </div><!--Closing dropdown-->

        <div class="dropdown">
            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              T2M Apps & Services
            </a>
                    
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/docs/voicemail.html">AVST Voicemail</a>
              <a class="dropdown-item" href="/docs/clarity.html">Clarity Connect</a>
              <a class="dropdown-item" href="/docs/phonebook.html">Phonebook</a>
              <a class="dropdown-item" href="/docs/provisioning.html">Phone Provisioning</a>
            </div><!--Closing Dropdown-Menu-->
        </div><!--Closing dropdown-->

        <div class="dropdown">
            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reports
            </a>
                    
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/docs/report_summary.html">Summary Report</a>
              <a class="dropdown-item" href="/docs/report_loggedin.html">Logged In Users Report</a>
              <a class="dropdown-item" href="/docs/report_loginactivity.html">Login Activity Report</a>
              <a class="dropdown-item" href="/docs/report_lastlogin.html">Last Login Report</a>
              <a class="dropdown-item" href="/docs/report_enabledusers.html">Enabled Users Report</a>
              <a class="dropdown-item" href="/docs/report_audit.html">Audit Report</a>
              <a class="dropdown-item" href="/docs/report_voice_summary.html">Voice Summary Report</a>
              <a class="dropdown-item" href="/docs/report_voice_location.html">Voice Location Report</a>
              <a class="dropdown-item" href="/docs/report_voice_userrating.html">Voice User Rating Report</a>
            </div><!--Closing Dropdown-Menu-->
        </div><!--Closing dropdown-->

        <ul class="navbar-nav mr-auto">
          <li id="netsapiens" class="nav-item" style="display: none;">
            <a class="nav-link" href="#">Netsapiens</a>
          </li>
          <li id="sd-wan" class="nav-item" style="display: none;">
            <a class="nav-link" href="#">SD-WAN</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          
          <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
        </form>
    </nav>
</header>

<script type="text/javascript">
    function resetNavActive() {
        $("#skype").removeClass("active");
        $("#reports").removeClass("active");
        $("#CloudWorks").removeClass("active");
        $("#netsapiens").removeClass("active");
        $("#sd-wan").removeClass("active");
        $("#other").removeClass("active");
    }
    //Highlight Default Page
    var pathname = window.location.pathname;
    if (pathname.indexOf("skype") != -1) { $("#skype").addClass("active"); }
    if (pathname.indexOf("reports") != -1) { $("#reports").addClass("active"); }
    if (pathname.indexOf("CloudWorks") != -1) { $("#CloudWorks").addClass("active"); }
    if (pathname.indexOf("netsapiens") != -1) { $("#netsapiens").addClass("active"); }
    if (pathname.indexOf("sd-wan") != -1) { $("#sd-wan").addClass("active"); }
    if (pathname.indexOf("other") != -1) { $("#other").addClass("active"); }
</script>