<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <span class="navbar-brand">T2M Cloud Training</span>

        <div class="dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            T2M Cloud
          </a>
                  
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/docs/cloud.html">T2M Cloud Introduction</a>
            <a class="dropdown-item" href="/docs/whats_new.html">What's New</a>
            <a class="dropdown-item" href="/docs/users.html">User Management</a>
            <a class="dropdown-item" href="/docs/device_management.html">Device Management</a>
          </div><!--Closing Dropdown-Menu-->
        </div><!--Closing dropdown-->

        <div class="dropdown">
            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Skype
            </a>
                    
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/docs/skype.html">Skype Basics</a>
              <a class="dropdown-item" href="/docs/skype_broadcast.html">Skype Broadcast</a>
              <a class="dropdown-item" href="/docs/clarity.html">Clarity Connect</a>
              <a class="dropdown-item" href="/docs/products.html">Approved Endpoints</a>
              <a class="dropdown-item" href="/docs/phones.html">Phone Basics</a>
              <a class="dropdown-item" href="/docs/setup.html">Phone Setup</a>
            </div><!--Closing Dropdown-Menu-->
        </div><!--Closing dropdown-->

        <ul class="navbar-nav mr-auto">
          <li id="reports" class="nav-item">
            <a class="nav-link" href="/docs/reports.html">Reports</a>
          </li>
          <li id="netsapiens" class="nav-item" style="display: none;">
            <a class="nav-link" href="#">Netsapiens</a>
          </li>
          <li id="sd-wan" class="nav-item" style="display: none;">
            <a class="nav-link" href="#">SD-WAN</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <ul class="navbar-nav mr-auto">
            <li id="other" class="nav-item">
              <a class="nav-link" href="/docs/resources.html" id="Other">Other Resources</a>
            </li>
          </ul>
          <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
        </form>
    </nav>
</header>

<script type="text/javascript">
    function resetNavActive() {
        $("#skype").removeClass("active");
        $("#reports").removeClass("active");
        $("#CloudWorks").removeClass("active");
        $("#netsapiens").removeClass("active");
        $("#sd-wan").removeClass("active");
        $("#other").removeClass("active");
    }
    //Highlight Default Page
    var pathname = window.location.pathname;
    if (pathname.indexOf("skype") != -1) { $("#skype").addClass("active"); }
    if (pathname.indexOf("reports") != -1) { $("#reports").addClass("active"); }
    if (pathname.indexOf("CloudWorks") != -1) { $("#CloudWorks").addClass("active"); }
    if (pathname.indexOf("netsapiens") != -1) { $("#netsapiens").addClass("active"); }
    if (pathname.indexOf("sd-wan") != -1) { $("#sd-wan").addClass("active"); }
    if (pathname.indexOf("other") != -1) { $("#other").addClass("active"); }
</script>