* {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei,"Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.outer, h2, h3, p, nav {
    margin: 2%
}