/*--------------
 T2M Colors
 #7FBA00 - green
 #66a03f - dark green for gradient
 #68217A - purple
 #4c2c55 - purple hover

 Accent colors
 #f5f5f5 - offwhite, footer/sidenav bg
 #212529 - main text
 -------------*/

* {
    margin: 0;
    padding: 0;
    font-size: 14px;

}

.outer, h2, h3, p {
    margin: 2%
}

.outer {

    margin-top: 80px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }

  .navbar li {
      display: inline;
      list-style: none;
  }
  

  .navbar {
    height: 50px;
    width: 100%;
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    background-color: #7FBA00;
    font-weight: bold;
    z-index: 99;
    top: 0;
    overflow-y: none;

  }

  .navbar a {
      color: #fff;
      text-decoration: none; 
      padding: 1em;
  }

  .navbar a:hover {
      text-decoration: underline;
  }


.row {
    text-align: center;
}
    
i {
    font-size: 9em;
}

a {
    text-decoration: none;
    border: none;
}

.button {
    border: 0px;
    background-color: white;
    text-decoration: none;
    color: #68217A;
    padding: 2%;
    margin: 2% 2%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    
}

.button:hover{
    color: #4c2c55;
    transform: scale(1.1, 1.1);
}

.text {
    font-size: 1em;
    padding: 5%;
    font-weight: bold;
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
footer {
    position: fixed;
    z-index: 99;
    background-color: #eee;
    height: 40px;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-top: 10px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}